@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
  }

  html {
    scroll-behavior: smooth
  }
}

@layer utilities {

  .p-safe,
  .pt-safe {
    padding-top: env(safe-area-inset-top)
  }

  .p-safe,
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom)
  }

  .p-safe,
  .pl-safe {
    padding-left: env(safe-area-inset-left)
  }

  .p-safe,
  .pr-safe {
    padding-right: env(safe-area-inset-right)
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none
}

.no-scrollbar,
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none
}

.no-scrollbar::-webkit-scrollbar {
  display: none
}

@layer components {
  input:focus {
    outline: 0
  }

  ::-webkit-scrollbar {
    width: 6px
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, .3);
    border-radius: 3px
  }

  ::-webkit-scrollbar-track {
    background: 0 0
  }
}